.comments {
    background: rgb(255, 235, 255);
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
}

.msg {
    float: right;
}

.login {
    float: right;
}

.error {
    color: red;
}